<a href="https://colab.research.google.com/github/yearim2/pythonclass/blob/main/Homework8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 131
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [2]:
# 132
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
     print("#####")

#####
#####
#####

In [5]:
# 133
변수="A"
print(변수)
변수="B"
print(변수)
변수="C"
print(변수)

A
B
C

In [6]:
# 134
변수 = "A"
print("출력:", 변수)
변수 = "B"
print("출력:", 변수)
변수 = "C"
print("출력:", 변수)

출력: A
출력: B
출력: C

In [12]:
# 135
변수 = "A"
b = 변수.lower()
print("변환:", b)

변수 = "B"
b = 변수.lower()
print("변환:", b)

변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [13]:
# 136
for 변수 in [10, 20, 30]:
   print(변수)

10
20
30

In [14]:
# 137
for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

In [15]:
# 138
for 변수 in [10, 20, 30]:
    print(변수)
    print("-------")

10
-------
20
-------
30
-------

In [16]:
# 139
print("++++")
for 변수 in [10, 20, 30]:
  print(변수)

++++
10
20
30

In [17]:
# 140
for 변수 in [1, 2, 3, 4]:
  print("-------")

-------
-------
-------
-------

In [18]:
# 141
리스트 = [100, 200, 300]
for 변수 in 리스트:
  print(변수 + 10)

110
210
310

In [21]:
# 142
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
  print("오늘의 메뉴: " + 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [22]:
# 143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 종목명 in 리스트:
  print(len(종목명))

6
4
4

In [23]:
# 144
리스트 = ['dog', 'cat', 'parrot']
for 동물 in 리스트:
  print(동물, len(동물))

dog 3
cat 3
parrot 6

In [24]:
# 145
리스트 = ['dog', 'cat', 'parrot']
for 이름 in 리스트:
  print(이름[0])

d
c
p

In [25]:
# 146
리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x", 변수)

3 x 1
3 x 2
3 x 3

In [26]:
# 147
리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x {} = {}".format(변수, 3 * 변수))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [27]:
# 148
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[1:]:
  print(변수)

나
다
라

In [28]:
# 149
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :2]:
  print(변수)

가
다

In [29]:
# 150
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :-1]:
  print(변수)

라
다
나
가