<a href="https://colab.research.google.com/github/yearim2/pythonclass/blob/main/Homework11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 171
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [ ]:
# 172
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [ ]:
# 173
for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [ ]:
# 174
for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

In [ ]:
# 175
my_list = ["가", "나", "다", "라"]
for i in range( 1, len(my_list) ) :
  print(my_list[i-1], my_list[i])

가 나
나 다
다 라

In [ ]:
# 176
my_list = ["가", "나", "다", "라", "마"]
for i in range( 2, len(my_list) ):
    print(my_list[i-2], my_list[i-1], my_list[i])

가 나 다
나 다 라
다 라 마

In [ ]:
# 177
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list) - 1):
   print(my_list[len(my_list) - 1 - i], my_list[len(my_list) - 2 - i])

라 다
다 나
나 가

In [ ]:
# 178
my_list = [100, 200, 400, 800]
for i in range(len(my_list) - 1):
  print(abs(my_list[i+1] - my_list[i]))

100
200
400

In [ ]:
# 179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(1, len(my_list) - 1):
  print(abs(my_list[i-1] + my_list[i] + my_list[i+1]) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [ ]:
# 180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(len(low_prices)) :
  volatility.append(high_prices[i] - low_prices[i])

In [ ]:
# 181
apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]

In [ ]:
# 182
stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ]

In [ ]:
# 183
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330] }

In [ ]:
# 184
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200] }

In [ ]:
# 185
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
  for col in row:
    print(col, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [ ]:
# 186
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
  for col in row:
    print(col, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [ ]:
# 187
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
  for col in row[::-1]:
    print(col, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [ ]:
# 188
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
  for col in row:
    print(col, "호")
    print("-" * 5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [ ]:
# 189
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
  for col in row:
    print(col, "호")
    print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [ ]:
# 190
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
  for col in row:
    print(col, "호")
print("-" * 5)

101 호
102 호
201 호
202 호
301 호
302 호
-----