<a href="https://colab.research.google.com/github/yearim2/pythonclass/blob/main/Homework9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# 151
리스트 = [3, -20, -3, 44]
for A in 리스트:
 if A < 0:
   print(A)

-20
-3

In [5]:
# 152
리스트 = [3, 100, 23, 44]
for A in 리스트:
  if A%3==0:
    print(A)

3

In [10]:
# 153
리스트 = [13, 21, 12, 14, 30, 18]
for A in 리스트:
  if A%3==0 and A<20:
   print(A)

12
18

In [11]:
# 154
리스트 = ["I", "study", "python", "language", "!"]
for A in 리스트:
 if len(A) >= 3:
   print(A)

study
python
language

In [1]:
# 155
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
    if 변수.isupper():
      print(변수)

A
D

In [3]:
# 156
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if 변수.isupper() != True:
    print(변수)

b
c

In [5]:
# 157
리스트 = ['dog', 'cat', 'parrot']
for 변수 in 리스트:
    첫글자 = 변수[0] 
    대문자 = 첫글자.upper() 
    print(대문자 + 변수[1:])

Dog
Cat
Parrot

In [7]:
# 158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for 변수 in 리스트:
    split = 변수.split(".")
    print(split[0])

hello
ex01
intro

In [8]:
# 159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
    split = 변수.split(".")
    if split[1] == "h":
      print(변수)

intra.h
define.h

In [9]:
# 160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
  split = 변수.split(".")
  if (split[1] == "h") or (split[1] == "c"):
    print(변수)

intra.h
intra.c
define.h

In [10]:
# 161
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [11]:
# 162
for x in range(2002, 2051, 4) :
  print (x)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [12]:
# 163
for num in range(3, 31, 3):
  print (num)

3
6
9
12
15
18
21
24
27
30

In [13]:
# 164
for i in range(100):
  print(99 - i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [14]:
# 165
for num in range(10) :
  print(num / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [ ]:
# 166
for i in range(1, 10) :
  print (3, "x", i, " = ", 3 * i)

In [15]:
# 167
num = 3
for i in range(1, 10) :
  if i % 2 == 1 :
    print (num, "x", i, " = ", num * i)

3 x 1  =  3
3 x 3  =  9
3 x 5  =  15
3 x 7  =  21
3 x 9  =  27

In [16]:
# 168
hab = 0
for i in range(1, 11):
  hab += i
print ("합 :", hab)

합 : 55

In [17]:
# 169
hab = 0
for i in range(1, 11, 2):
  hab += i
print ("합 :", hab)

합 : 25

In [18]:
# 170
result = 1
for i in range(1, 11) :
  result *= i
print(result)

3628800