<a href="https://colab.research.google.com/github/yearim2/pythonclass/blob/main/Homework13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 211
def 함수(문자열) :
      print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [4]:
# 212
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [6]:
# 213
def 함수(문자열) :
    print(문자열)
   함수()
TypeError: 함수() missing 1 required positional argument: '문자열' 

# 함수() <-- 괄호안에 문자열 입력 필요

IndentationError: ignored

In [41]:
# 214
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
TypeError: must be str, not int

SyntaxError: ignored

In [10]:
# 215
def print_with_smile (string) :
    print(string + ":D")

In [11]:
# 216
print_with_smile("안녕하세요")

안녕하세요:D

In [14]:
# 217
def print_upper_price(a) :
  upper_price = int(a * 1.3)
  return upper_price
#  print(upper_price)

print_upper_price(100)

130

In [12]:
# 218
def print_sum (a,b) :
  return a + b

print_sum (3, 4)

7

In [9]:
# 219
def print_arithmetic_operation (a, b) :

  print(a, "+", b, "=", (a + b))
  print(a, "-", b, "=", (a - b))
  print(a, "*", b, "=", (a * b))
  print(a, "/", b, "=", (a / b))

print_arithmetic_operation (3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [8]:
# 220
def print_max(a, b, c) :
  if a > b and a > c :
    print("max = ", a)

  elif b > c and b > a :
    print("max = ", b)

  else : 
    print("max = ", c)

print_max (1, 2, 3)

max =  3

In [23]:
# 221
def print_reverse(str) :
  print(str[::-1])

print_reverse("python")

nohtyp

In [26]:
# 222
def print_score(list) :
  sum = 0
  average = 0
  for i in list :
    sum += i
  average = sum / len(list)
  return average

print_score([1,2,3])

2.0

In [29]:
# 223
def print_even(list) :
  sum = 0
  average = 0
  for i in list :
    if i %2 != 0:
      continue
    print(i)


print_even([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [30]:
# 224
def print_keys(dict) :
 
  for i in range(len(dict)) :
    print(list(dict.keys())[i])

print_keys({"이름":"김말똥","나이":30,"성별":0})

이름
나이
성별

In [32]:
# 225
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key (dict, key) :
  print(dict.get(key))

print_value_by_key (my_dict,"10/26")

[100, 130, 100, 100]

In [34]:
# 226
a = "아이엠어보이유알어걸"
# print(a[0:5])
# print(a[5:10])

def print_5xn (string) :
  for i in range(0,len(string),5) :
    if i < len(string) :
      print(string[i:i+5])

print_5xn (a)

아이엠어보
이유알어걸

In [35]:
# 227
a = "아이엠어보이유알어걸"

def print_5xn (string, num) :
  for i in range(0,len(string),num) :
    if i < len(string) :
      print(string[i:i+ num])

print_5xn (a, 3)

아이엠
어보이
유알어
걸

In [38]:
# 228
def calc_monthly_salary (income) :
  print(int(income/12))

calc_monthly_salary (12000000)

1000000

In [39]:
# 229
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [40]:
# 230
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100